<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="description" content="A climatic data tracker for cities and states" />
    <meta name="keywords" content="tracker, climate, hydrological, weather" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClimoTrack</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/reset.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/home.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nice-select2/dist/css/nice-select2.css" />
    <link rel="stylesheet" href="{% static 'styles/vendor.min.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/nice-select2/dist/js/nice-select2.js"></script>
    <script defer src="{% static 'scripts/home.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header class="app-header">
      <div class="wrapper">
        <a href="{% url 'index' %}" class="logo">ClimoTrack</a>
        <nav class="navigation">
          <ul>
            <li>
              <div data-state="current" class="link">Home</div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="app-main">
      <section id="tracker">
        <div class="wrapper">
          <div class="form">
            <form id="form" class="selector">
              {% csrf_token %}
              <h2>Selecione a cidade:</h2>
              <label for="state-select">Estado:</label>
              <select name="state" id="state-select"></select>

              <label for="city-select">Cidade:</label>
              <select name="city" id="city-select"></select>

              <input type="submit" value="Filtrar" />
            </form>
            <div class="climatic-subtype" data-show="false" id="climatic-subtype"></div>
          </div>

          <div class="data-show" id="data-show">
            <div class="data">
              <h2 id="city-name"></h2>
              <div class="table">
                <table>
                  <thead>
                    <tr>
                      <th>Mês</th>
                      <th>Temp. (°C)</th>
                      <th>Precip. (mm)</th>
                      <th>Condição</th>
                    </tr>
                  </thead>
                  <tbody id="cityData">
                    {% for month in monthly_data %}
                      <tr>
                        <th>{{ month.name }}</th>
                        <td>{{ month.temp|floatformat:1 }}°C</td>
                        <td>{{ month.precip|floatformat:1 }}mm</td>
                        <td>{{ month.condition }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <th>Média</th>
                      <td>{{ averages.avg_temp|floatformat:1 }}°C</td>
                      <td>{{ averages.avg_precip|floatformat:1 }}mm</td>
                      <th>Meses secos: {{ dry_months_count }}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="empty-data">
              <img src="{% static 'images/empty-data.svg' %}" alt="empty-data" />
              <p>Filtre os dados climáticos da cidade que desejar</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
